/* Eliminar scroll por desbordamiento */
body {
    margin: 0;
    padding: 0;
    background-color: #D69E32;
    overflow-x: hidden; /* Evita el scroll horizontal */
}

header.header {
    margin: 0;
    padding: 0;
}

.main {
    background-color: #D69E32;
    background-image: url(/Imagenes/Menu/cafesFondo.png);
    font-family: 'Questrial', sans-serif;
    text-align: center;
    margin: 40px 0;
}

h1 {
    color: white; 
    position: relative;
    padding-left: 5rem;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2em;
    text-align: left;
    display: flex; /* Usamos flexbox para alinear el texto y la línea */
    align-items: center; /* Centra verticalmente el texto y la línea */
}

h1::after {
    content: '';
    flex-grow: 1; /* La línea ocupará todo el espacio restante */
    margin-left: 5rem;
    margin-right: 40px; /* Asegura que la línea termine 10px antes del borde derecho */
    height: 2px;
    background-color: white;
    max-width: calc(100% - 20px); /* Limita la longitud total de la línea para evitar que llegue al borde */
}

.platos-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    color: black;
}

.plato {
    border-radius: 20px;
    padding: 20px;
    width: 220px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #f7d154;
}

.plato:hover {
    transform: scale(1.1);
}

.plato img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.precio {
    font-size: 25px;
    margin: 10px 0;
}

.nombre {
    font-size: 22px;
    font-weight: bold;
    margin: 5px 0;
}

.descripcion {
    font-size: 14px;
}

.sticky-button {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    width: 60px;
    height: 60px;
    background-color: #866C35; 
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-button img {
    width: 50%;
    height: auto;
}

.sticky-button:hover {
    transform: scale(1.1);
}
