body {
    background-color: #D69E32;
    font-family: 'Questrial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.main {
    padding: 20px;
    text-align: center;
    max-width: 1200px; /* Limita el ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.main h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #ede1b7;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade un sutil sombreado para destacar el texto */
}

.seccion-nosotros {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.marco-nosotros {
    position: relative;
    width: 250px;
    height: 350px;
    margin: 15px;    
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.marco-nosotros:hover {
    transform: scale(1.1);
}

.imagen-nosotros img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}

/* Sección Historia */
.seccion-historia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.logo-historia img {
    width: 250px;
    height: auto;
    transition: all 0.3s ease-in-out;
}

.texto-historia {
    max-width: 600px;
    text-align: left;
}

.texto-historia h2 {
    font-size: 30px;
    color: #ede1b7;
    margin: 0 0 10px;
    text-align: center;
}

.texto-historia h3 {
    color: #312e2d;
    margin: 0 0 20px;
    text-align: center;
}

.texto-historia p {
    line-height: 1.6;
    color: #333;
    text-align: center;
}

/* Estilo para las secciones dentro del contenedor principal */
section {
    margin: 40px 0;
}

/* Estilo para la sección "Fiesta en Casa" */
.fiesta-en-casa {
    margin: 40px 0;
}

/* Estilo para el título de la sección con imagen de fondo */
.fiesta-en-casa .titulo-seccion {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.fiesta-en-casa .titulo-seccion h1 {
    margin: 0;
    position: relative;
    z-index: 1;
    color: #fff; /* Color del texto */
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    padding: 20px; /* Espaciado interno para el texto */
    background-image: url('/Imagenes/Conocenos2 copy/fondo-fiesta-conocenos.png');
    background-size: cover;
    background-position: center;
    display: inline-block;
    background-repeat: no-repeat;
}

.fiesta-en-casa .contenido-seccion {
    text-align: center;
}

.fiesta-en-casa .contenido-seccion img {
    width: 45%;
    height: auto;
    margin: 10px 2.5%;
    border: 2px solid #ddd; /* Opcional: agrega borde a las imágenes */
}

.fiesta-en-casa .contenido-seccion p {
    font-family: 'Questrial', sans-serif;
    font-size: 1rem;
    margin-top: 20px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6; /* Mejora la legibilidad */
    color: #333;
}