body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
}

.container {
    display: flex;
    height: 100vh;
}

.lado-izquierdo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: url('/Imagenes/Conocenos/comidaFondo.jpg');
    background-size: cover;
}

.logo {
    max-width: 80%;
    height: auto;
}

a.BotonHome {
    font-family: 'Anton', sans-serif;
    margin-top: 20px;
    background: url('/Imagenes/Conocenos/botonMadera.png') no-repeat center;
    background-size: contain;
    padding: 10% 15%;  /* Ajustar el padding para evitar desbordamiento */
    color: #ede1b7;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;  /* Centra el contenido dentro del enlace */
    cursor: pointer;
    text-decoration: none;  /* Remover subrayado en el enlace */
}

.home-icono {
    margin-right: 10px;
    width: 24px;
    height: auto;
    margin-bottom: 7px;
}

.lado-derecho {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #d0982b;
    padding: 20px;
    color: black;
}

.Juanjo {
    flex-direction: row; /* Texto a la derecha de la imagen */
}

.Lacu {
    flex-direction: row-reverse; /* Texto a la izquierda de la imagen */
}

.Andres {
    flex-direction: row; /* Texto a la derecha de la imagen */
}

.Juanjo, .Lacu, .Andres {
    display: flex;
    align-items: center;
    margin: 15px 0;
    margin-left: 30px;
}

.Juanjo .texto-juanjo, .Andres .texto-andres {
    margin-left: 20px;
}

.Lacu .texto-lacu {
    margin-right: 20px;
    margin-left: 140px;
    text-align: right;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

h3 {
    margin: 0;
    font-size: 24px;
    font-family: 'Questral', sans-serif;
    color: #4a2906;
}

p {
    margin: 0;
    font-size: 16px;
    font-family: Questral, sans-serif;
}

a {
    color:  #000d80;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
