/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Un scrollbar más delgado */
}

::-webkit-scrollbar-track {
    background: #D69E32; /* Color de fondo del track, más claro y sutil */
}

::-webkit-scrollbar-thumb {
    background-color: #B8860B; /* Color del thumb, un tono dorado suave */
    border-radius: 10px;        /* Borde redondeado del thumb */
    border: 2px solid #D69E32;  /* Borde del thumb, del mismo color que el track para un efecto suave */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #C19A6B;  /* Un tono más claro para el hover, sutil */
}
