/* CSS: /CSS/styleshome.css */
body {
    margin: 0;
    font-family: 'Anton', sans-serif;
    background-color: #D69E32;
}

.container {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;
    height: 100vh;
}

.left-section {
    width: 40%;
    color: #3C2E26;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/Imagenes/Home/cafesFondo.png);
    background-size: cover; /* Asegura que la imagen cubra todo el área */
    background-position: center;
    height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
    margin: 0; /* Elimina cualquier margen */
    padding: 0; /* Elimina cualquier padding */
}


.left-section h1 {
    font-size: 3em;
    margin-bottom: 40px; /* Espacio adicional para separar del primer botón */
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.buttons a {
    margin-top: 20px;
    background: url('/Imagenes/Conocenos/botonMadera.png') no-repeat center;
    background-size: cover; /* Asegura que la imagen de fondo cubra todo el botón */
    color: #ede1b7;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    width: 450px; /* Tamaño fijo para el ancho del botón */
    height: 100px; /* Tamaño fijo para la altura del botón */
    box-sizing: border-box;
    padding: 0; /* Elimina el padding para mantener las dimensiones fijas */
}

.buttons .span{
    margin-left: 20px;
}

.buttons .icono {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    margin-bottom: 7px;
}

.buttons .BotonCarta:hover{
    text-decoration: underline;
}

.buttons .BotonCarrito:hover{
    text-decoration: underline;
}

.buttons .BotonContactanos:hover{
    text-decoration: underline;
}


.btn {
    padding: 15px 40px;
    background-color: transparent;
    background-image: url(/Imagenes/Home/botones.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 10px;
    color: #EDE1B7;
    font-size: 1.2em;
    font-family: 'Anton', sans-serif;
    cursor: pointer;
    max-width: 450px;
    min-width: 450px; /* Asegura que todos los botones tengan el mismo ancho */
    height: 100px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn img {
    margin-right: 10px;
    vertical-align: middle;
    height: 24px;
}




.right-section {
    width: 60%;
    position: relative;
    text-align: right;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to right, #D69E32 0%, transparent 15%);
}

.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.logo {
    position: absolute;
    top: -5%;
    right: 15%;
    width: 350px;
    height: auto;
}


