body {
    margin: 0;
    font-family: 'Anton', sans-serif;
    background-color: #D69E32;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-section {
    width: 40%;
    color: #3C2E26;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.left-section h1 {
    width: 450px;
    font-size: 3em;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.buttons a {
    margin-top: 7px;
    background: url('/Imagenes/Conocenos/botonMadera.png') no-repeat center;
    background-size: cover;
    color: #ede1b7;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    width: 450px;
    height: 100px;
    box-sizing: border-box;
    padding: 0;
    transition: transform 0.3s ease; /* Añade la transición para suavizar el cambio de tamaño */
}

.buttons .span{
    margin-left: 20px;
}

.buttons .icono {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    margin-bottom: 7px;
}

/* Quitar underline y añadir efecto de agrandamiento en hover */
.buttons .BotonCarta:hover,
.buttons .BotonCarrito:hover,
.buttons .BotonContactanos:hover {
    text-decoration: none; /* Asegura que no haya subrayado */
    transform: scale(1.05); /* Agranda el botón en un 5% */
}

.btn {
    padding: 15px 40px;
    background-color: transparent;
    background-image: url(/Imagenes/Home/botones.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 10px;
    color: #EDE1B7;
    font-size: 1.2em;
    font-family: 'Anton', sans-serif;
    cursor: pointer;
    max-width: 450px;
    min-width: 450px;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease; /* Añade la transición para suavizar el cambio de tamaño */
}

.btn img {
    margin-right: 10px;
    vertical-align: middle;
    height: 24px;
}

/* Agrandar el botón en hover */
.btn:hover {
    transform: scale(1.05); /* Agranda el botón en un 5% */
}

.right-section {
    width: 60%;
    position: relative;
    text-align: right;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to right, #D69E32 0%, transparent 15%);
}

.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.logo {
    position: absolute;
    top: -5%;
    right: 15%;
    width: 300px;
    height: auto;
}
